// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_conf {
    text-align: left;
}
.form_conf form {
    display: inline-block;
    margin: 0 10px;
}
